@using BlazorUITemplate.Data
@using BlazorUITemplate.Enums
@using BlazorUITemplate.Pages
@using BlazorUITemplate.Services
@inject EventService EventService
@inherits BaseComponent
@if (ButtonModel.Id == null)
{
    <button class="draggable @ButtonModel.ButtonClass" draggable="true"
            
            @ondragstart="@(() => OnDragStart ())">
        @ButtonModel.Name
    </button>
}
else
{
    <button class="dashboard-button resizable @ButtonModel.ButtonClass" style="width:@ButtonModel.Width; height:@ButtonModel.Height;"
            @onclick="@(() => OnClick ())"
            @onmousemove="OnMouseMove"
            @onmouseleave="OnMouseMove"
            @onmouseout="OnMouseMove">
        @ButtonModel.Name
        <div class="resizer top" @onmousedown='(e) => StartResize (e, "top")'></div>
        <div class="resizer right" @onmousedown='(e) => StartResize (e, "right")'></div>
        <div class="resizer bottom" @onmousedown='(e) => StartResize (e, "bottom")'></div>
        <div class="resizer left" @onmousedown='(e) => StartResize (e, "left")'></div>
        <div class="resizer top-left" @onmousedown='(e) => StartResize (e, "top-left")'></div>
        <div class="resizer top-right" @onmousedown='(e) => StartResize (e, "top-right")'></div>
        <div class="resizer bottom-left" @onmousedown='(e) => StartResize (e, "bottom-left")'></div>
        <div class="resizer bottom-right" @onmousedown='(e) => StartResize (e, "bottom-right")'></div>
    </button>
}


@code {

    [Parameter] public ButtonModel ButtonModel { get; set; }

    private void StartResize (MouseEventArgs eventArgs, string resizer)
    {
        Resize (eventArgs, resizer, ButtonModel.Width, ButtonModel.Height);
    }

    private void OnMouseMove (MouseEventArgs eventArgs)
    {
        var size = MouseMove (eventArgs, ButtonModel.Width, ButtonModel.Height);
        ButtonModel.Width = size.Item1;
        ButtonModel.Height = size.Item2;
        StateHasChanged ();
    }


    private void OnMouseUp (MouseEventArgs eventArgs)
    {
        StopResize ();
    }

    private void OnDragStart ()
    {
        HandleDrag (ButtonModel);
    }

    private void OnClick ()
    {
        HandleClick (ButtonModel);
    }


}